# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# No need to store meta files, since they will have to be regenerated when CW-Mod is added to a project
*.meta

# Builds
*.apk
*.aab
*.unitypackage
*.app
